[submodule "wg21"]
	path = wg21
	url = https://github.com/mpark/wg21.git
[submodule "cppnow/fringetree/googletest"]
	path = cppnow/fringetree/googletest
	url = https://github.com/google/googletest.git
